# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
solidity-scripting/broadcast/NFT.s.sol/11155111/run-1729150106.json
solidity-scripting/broadcast/NFT.s.sol/11155111/run-latest.json
