[submodule "solidity-scripting/lib/forge-std"]
	path = solidity-scripting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity-scripting/lib/solmate"]
	path = solidity-scripting/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "solidity-scripting/lib/openzeppelin-contracts"]
	path = solidity-scripting/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "solidity-scripting/lib/openzeppelin-foundry-upgrades"]
	path = solidity-scripting/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "solidity-scripting/lib/openzeppelin-contracts-upgradeable"]
	path = solidity-scripting/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
